:host{
  display: inline-block;
  box-sizing: border-box;
  width: calc(31% - 30px);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 3.5%;
}

.example-card {
  height: 100%;
}

.card-location{
  color: #3d8af7;
  font-weight: bold;
}

mat-card{
  padding: 0;
}
mat-card img{
  margin: 0;
  height: 35vh; 
}

mat-card-content {
  padding: 16px;
}

/*text overflow*/
mat-card-content article{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

mat-card-content p{
  height: 5%;
}

img{
	width: 100%;
  height: 60%;
}